/* This stylesheet is to set the general layout of the webpage */
html {
  box-sizing: border-box;
 
}
*, *:before, *:after {
  box-sizing: inherit;
  
}

/*
 * Global layout stuff
 */

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: 'Source Sans Pro';
}

/* all tweet sections */
.container {
  display: flex;  
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: #545149;
  background-color: #f4f1ec;
  display: flex;
}
