.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.new-tweet {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.button {
  background-color: #4056A1; 
  border: none;
  color: white;
  padding: 5px 10px; 
  text-align: center;
  font-family: 'Bungee';
}
#tweet-text {
  background-color: #f4f1ec;
  border: none;
  border-bottom: 2px solid;
  width: 600pt;

}

#btn-count {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee';
  
}

.invalid-counter {
  color:red;
}

/* warning style */
.warning-message {
  margin: 30px;
  color:red;
  display: none;
}