
/* this section is a child of ".container" class-
it handles the styling of previous tweets 
you can find the section in the index.html but the rest is added through jquery in the following JS file:
public/scripts/client.js*/
.previous-tweet{
  margin: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;  
  flex-direction: column;
}

/* all of the following are child of .previous-tweet */
.article-tweet {
  margin: 10pt;
  padding: 5pt;
  border-style: solid;
  border-color: #545149;
  width: 100%;
}

/* the .article-tweet has three div as follow */
.top-pre-tweet {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;  
  padding: 0em;

}

.article-sec-div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f4f1ec;
  border-bottom: 2px solid;
}

.article-third-div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-content: space-between;  

}

/* this is the like icon */
#icons{
  display:flex;
  width: 2vh;
}

/* when tweet posted */
#days {
  font-size: 15px;
}

.tweeter-id {
  color: #C5CBE3;
  display: none;

}


.avatar{
  width: 40%;
}

this handle the hovering on previous tweet box
.article-tweet:hover .tweeter-id {
  display: block;
}

.article-tweet:hover {
  box-shadow: 5px 5px 5px #6EC2E4;
}